<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TIPOGRAFIA ROBOTO-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- LIBRERIA FONTAWESOME-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- ESTILOS PROPIOS-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/article.css" rel="stylesheet">
    <!-- <link href="/css/register.css" rel="stylesheet"> -->
    <link href="/css/footer.css" rel="stylesheet">


    <!--TITULO -->
    <title>1771 Studios</title>

</head>

<body>
    <header>
        <div class="top-header">
            <img src="images/logo1771.png" alt="logo1771">
            <ul class="enlaces">
                <li><a href="/register">Registrarme</a></li>
                <li><a href="#mapa">¿Cómo llegar?</a></li>
                <li><a href="/productCart">Reservar clase</a></li>
                <li><a href="/productCart">Reservar ensayo</a></li>
                <li><a href="/productDetail">Paga tu reserva</a></li>
            </ul>
            <div class="burger-container">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="info">
            <div class="description-1771">
                <div>
                    <h2>1771 Studios, un espacio</h2>
                    <h2>creado por y para músicos</h2>
                </div>
                <p>Registrate para ser parte de una experiencia profesional, con sonido de calidad en amplios y
                    agradables espacios</p>
                <div class="login">
                    <input type="email" name="email" placeholder="Correo">
                    <input type="password" name="password" placeholder="contraseña">
                    <button type="submit" class="submit-button">Ingresa</button>
                </div>
            </div>
            <div class="images">
                <img src="images/header2.jpeg" alt="">
            </div>
        </section>
        <section class="option">
            <article class="item-article">
                <img src="/images/Sala Platinum.jpeg" alt="bateria">
                <div class="main-article">
                    <p>38 mts2 </p>
                    <p>
                        Bateria TAMA Superstar Custom Amplificador de guitarra Orange Dual Terror con Cabina Orange
                        4x12 Amplificador de guitarra Marshall DSL100 con cabina Marshall 1960A 4x12 Amplificador de
                        bajo
                        Ampeg PF500 con Cabina Ampeg 800 watts. Monitores Cerwin Vega (PA+Drum Fill+ Sub-Woofer) Consola
                        Digital Line 6 M20d
                    </p>
                    <h4>Reservar Sala Platinum $40,000</h4>
                </div>
            </article>
            <article class="item-article">
                <img src="/images/Sala Gold.jpeg" alt="sala-gold">
                <div class="main-article">
                    <p>38 mts2 </p>
                    <p>
                        Bateria TAMA Superstar Custom Amplificador de guitarra Orange Dual Terror con Cabina Orange
                        4x12 Amplificador de guitarra Marshall DSL100 con cabina Marshall 1960A 4x12 Amplificador de
                        bajo
                        Ampeg PF500 con Cabina Ampeg 800 watts. Monitores Cerwin Vega (PA+Drum Fill+ Sub-Woofer) Consola
                        Digital Line 6 M20d
                    </p>
                    <h4>Reservar Sala Gold 45.000</h4>
                </div>
            </article>
            <article class="item-article">
                <img src="/images/Sala Premium.jpeg" alt="sala-premium">
                <div class="main-article">
                    <p>38 mts2 </p>
                    <p>
                        Bateria TAMA Superstar Custom Amplificador de guitarra Orange Dual Terror con Cabina Orange
                        4x12 Amplificador de guitarra Marshall DSL100 con cabina Marshall 1960A 4x12 Amplificador de
                        bajo
                        Ampeg PF500 con Cabina Ampeg 800 watts. Monitores Cerwin Vega (PA+Drum Fill+ Sub-Woofer) Consola
                        Digital Line 6 M20d
                    </p>
                    <h4>Reservar Sala Gold 50.000</h4>
                </div>
            </article>
        </section>
        <section class="Masterclasses">
            <div class="titulo-clases">
                <h2>Mejora tu técnica y profesionalízate en tu instrumento</h2>
                <h2>favorito con 1771 Studios Masterclasses</h2>
            </div>
            <div class="clases">
                <article class="clases-article">
                    <img src="/images/clase guitarra.jpeg" alt="Guitarra">
                    <div class="clases">
                        <a href="/productDetail#guitarra">
                            <h2>Guitarra</h2>
                        </a>
                    </div>
                </article>
                <article class="clases-article">
                    <img src="/images/clase bajo.png" alt="Bajo">
                    <div class="clases">
                        <h2>Bajo</h2>
                    </div>
                </article>
                <article class="clases-article">
                    <img src="/images/clase canto.jpeg" alt="Canto">
                    <div class="clases">
                        <h2>Canto</h2>
                    </div>
                </article>
                <article class="clases-article">
                    <img src="/images/clase bateria.jpeg" alt="Bateria">
                    <div class="clases">
                        <h2>Bateria</h2>
                    </div>
                </article>
                <article class="clases-article">
                    <img src="/images/clase teclado.png" alt="Teclado">
                    <div class="clases">
                        <h2>Teclado</h2>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <div class="Maps">
                <h2>Visítanos</h2>
                <iframe id="mapa"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13158.664569700617!2d-58.56582120000001!3d-34.460621800000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1658264221128!5m2!1ses-419!2sar"
                    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </section>
    </main>
    <footer>
            <section class="information">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Contactanos</a></li>
                    <li><a href="#">Política de datos personales</a></li>
                </ul>
            </section>
            <section class="search-button-container">
                <div class="search-container">
                    <input type="text" placeholder="Ingresa tu E-mail">
                    <button class="ov-btn-grow-spin" type="submit">
                        <i class="fas fa-share-square"></i> Enviar </button>
                </div>
            </section>
            <div class="redes">
                <a href="https://www.facebook.com/" target="_blank"
                rel="nooper noreferrer">
                <ion-icon name="logo-facebook"></ion-icon>
                </a>
                
                <a href="https://www.instagram.com/" target="_blank"
                rel="nooper noreferrer">
                <ion-icon name="logo-instagram"></ion-icon>
                </a>

                <a href="https://twitter.com/" target="_blank"
                rel="nooper noreferrer">
                <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </div>
    </footer>
</body>

</html>