<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TIPOGRAFIA ROBOTO-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- LIBRERIA FONTAWESOME-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- ESTILOS PROPIOS-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/article.css" rel="stylesheet">




    <!--TITULO -->
    <title>1771 Studios</title>

</head>

<body>
    <header>
        <div class="top-header">
            <img src="images/logo1771.png" alt="logo1771">
            <ul class="enlaces">
                <li><a href="/register">Registrate</a></li>
                <li><a href="#">¿Cómo llegar?</a></li>
                <li><a href="#">Reservar clase</a></li>
                <li><a href="#">Reservar ensayo</a></li>
            </ul>
            <div class="burger-container">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="info">
            <div class="description-1771">
                <div>
                    <h2>1771 Studios, un espacio</h2>
                    <h2>creado por y para músicos</h2>
                </div>
                <p>Registrate para ser parte de una experiencia profesional, con sonido de calidad en amplios y
                    agradables espacios</p>
                <div class="login">
                    <input type="email" name="email" placeholder="Correo">
                    <input type="password" name="password" placeholder="contraseña">
                    <button class="ov-btn-grow-spin" type="submit">Iniciar sesión</button>
                </div>
            </div>
            <div class="images">
                <img src="images/header2.jpeg" alt="">
            </div>
        </section>
        <section class="option">
            <article class="item-article">
                <img src="/images/Sala Platinum.jpeg" alt="bateria">
                <div class="main-article">
                    <p>38 mts2 </p>
                    <p>
                        Bateria TAMA Superstar Custom Amplificador de guitarra Orange Dual Terror con Cabina Orange
                        4x12 Amplificador de guitarra Marshall DSL100 con cabina Marshall 1960A 4x12 Amplificador de
                        bajo
                        Ampeg PF500 con Cabina Ampeg 800 watts. Monitores Cerwin Vega (PA+Drum Fill+ Sub-Woofer) Consola
                        Digital Line 6 M20d
                    </p>
                    <h4>Reservar Sala Platinum $40.000</h4>
                </div>
            </article>
            <article class="item-article">
                <img src="/images/Sala Gold.jpeg" alt="sala-gold">
                <div class="main-article">
                    <p>38 mts2 </p>
                    <p>
                        Bateria TAMA Superstar Custom Amplificador de guitarra Orange Dual Terror con Cabina Orange
                        4x12 Amplificador de guitarra Marshall DSL100 con cabina Marshall 1960A 4x12 Amplificador de
                        bajo
                        Ampeg PF500 con Cabina Ampeg 800 watts. Monitores Cerwin Vega (PA+Drum Fill+ Sub-Woofer) Consola
                        Digital Line 6 M20d
                    </p>
                    <h4>Reservar Sala Gold $45.000</h4>
                </div>
            </article>
            <article class="item-article">
                <img src="/images/Sala Premium.jpeg" alt="sala-premium">
                <div class="main-article">
                    <p>38 mts2 </p>
                    <p>
                        Bateria TAMA Superstar Custom Amplificador de guitarra Orange Dual Terror con Cabina Orange
                        4x12 Amplificador de guitarra Marshall DSL100 con cabina Marshall 1960A 4x12 Amplificador de
                        bajo
                        Ampeg PF500 con Cabina Ampeg 800 watts. Monitores Cerwin Vega (PA+Drum Fill+ Sub-Woofer) Consola
                        Digital Line 6 M20d
                    </p>
                    <h4>Reservar Sala Gold $50.000</h4>
                </div>
            </article>
        </section>
    </main>
</body>

</html>