<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TIPOGRAFIA ROBOTO-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- LIBRERIA FONTAWESOME-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- ESTILOS PROPIOS-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">


    <!--TITULO -->
    <title>1771 Studios</title>

</head>

<body>
    <header>
        <div class="top-header">
            <div class="img-container">
                <img src="images/logo1771.png" alt="logo1771">
            </div>
            <ul class="enlaces">
                <li><a href="/register">Registrarme</a></li>
                <li><a href="#mapa">¿Cómo llegar?</a></li>
                <li><a href="/productCart">Reservar clase</a></li>
                <li><a href="/productCart">Reservar ensayo</a></li>
                <li><a href="/productDetail">Paga tu reserva</a></li>
            </ul>
            <div class="burger-container">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="form-container">
            <p class="register-box-msg">Registrate</p>
            <form action="/registro" method="POST">
                <div class="row">
                    <div class="row-user">
                        <div class="form-group">
                            <label for="username"></label>
                            <input style="display: flex; font-family: 'Font Awesome 5 Free'; font-weight: 600;"
                                type="text" name="username" id="username" class="form-control users"
                                placeholder=" &#xf007; Your Name" maxLength="20" minLenght="5" required>
                        </div>
                        <div class="row-email">
                            <div class="form-group">
                                <label for="email"></label>
                                <input style="font-family: 'Font Awesome 5 Free'; font-weight: 600;" type="email"
                                    name="email" id="email" class="form-control email" placeholder=" &#xf007; Email"
                                    maxLength="20" minLenght="5" required>
                            </div>
                        </div>
                    </div>
                    <div class="row-data">
                        <div class="row-data1">
                            <div class="form-group">
                                <label for="pass"></label>
                                <input style="font-family: 'Font Awesome 5 Free'; font-weight: 600;" type="password"
                                    name="pass" id="pass" class="form-control" placeholder=" &#xf084; Password"
                                    minLenght="5" required>
                            </div>
                        </div>
                        <div class="row-data2">
                            <div class="form-group">
                                <label for="pass2"></label>
                                <input style="font-family: 'Font Awesome 5 Free'; font-weight: 600;" type="password"
                                    name="pass2" id="pass2" class="form-control" placeholder=" &#xf084; Repeat password"
                                    minLenght="5" required>
                            </div>
                        </div>
                        <div class="row-button">
                            <div class="row-button-box">
                                <button class="ov-btn-grow-spin" type="submit">Sing Up
                                </button>
                                <button class="ov-btn-grow-box" type="reset">Limpiar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="description-container">
            <p>By signing up you agree to our Terms & Conditions</p>
        </div>
    </main>
    <footer>

        <section class="information">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Política de datos personales</a></li>
            </ul>
        </section>
        <section class="search-button-container">
            <div class="search-container">
                <input type="text" placeholder="Ingresa tu E-mail">
                <button class="ov-btn-grow-spin" type="submit">
                    <i class="fas fa-share-square"></i> Enviar </button>
            </div>
        </section>
        <div class="redes">
            <a href="https://www.facebook.com/" target="_blank" rel="nooper noreferrer">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>

            <a href="https://www.instagram.com/" target="_blank" rel="nooper noreferrer">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>

            <a href="https://twitter.com/" target="_blank" rel="nooper noreferrer">
                <ion-icon name="logo-twitter"></ion-icon>
            </a>
        </div>

    </footer>
</body>

</html>