* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background: #f9fafb;
}

input[type=password],
input[type=email],
input[type=text] {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    background: #666;
    color: white;
    padding: 12px;
    border-radius: 4px;

}

article {
    background-color: red;
}

/*!! ------HEADER------ !!*/

header {
    width: 90%;
    margin: 0 auto;
}

header .top-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


header img {
    /* border: 2px solid blueviolet; */
    display: flex;
    width: 120px;
    height: 87px;
    padding: 10px;
}

header .enlaces {
    /* border: 3px solid red; */
    display: flex;
    font-size: 16px;
    width: 100%;
    list-style: none;
    justify-content: space-between;
}

header .enlaces a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

header .burger-container {
    /* border: 3px solid red; */
    display: none;
    justify-content: center;

}


@media (max-width: 768px) {
    header .burger-container {
        display: flex;
    }

    header .enlaces {
        display: none;
    }

    header .top-header {
        justify-content: space-between;
    }
}

/*------INDEX------*/

main {
    width: 90%;
    margin: 0 auto;
}

section.info {
    margin-top: 15px;
    display: flex;
    padding: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-around;
}

section.info .description-1771 {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section .images {
    width: 30%;
    margin-top: 15px;
}


section .images img {
    width: 100%;
}

section.info .description-1771 p {
    width: 86%;
    color: gray;
}

section.info .description-1771 h2 {
    margin-bottom: 10px;
    color: #666;
}

section.info .description-1771 .login {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

section.info .description-1771 input,
section.info .description-1771 button {
    width: 32%;
}


@media (max-width: 425px) {
    section.info .description-1771 p {
        display: none;
    }

    section.info .description-1771 h2 {
        margin-bottom: 10px;
        color: #666;
        display: flex;
        font-size: 22px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    section.info .description-1771 {
        width: 100%;
        display: flex;
        align-items: center;
    }

    section .images {
        width: 100%;
    }

    section .images img {
        width: 100%;
        display: none;
    }

    section.info .description-1771 input,
    section.info .description-1771 button {
        padding: 10px;
        width: 58%;
        margin: 6px;
        border-radius: 5px;
    }

    section.info .description-1771 h2 {
        margin-bottom: 10px;
        color: #666;
        display: flex;
        justify-content: center;
    }

    section.info .description-1771 p {
        width: 86%;
        color: gray;
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
    }
}