<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TIPOGRAFIA ROBOTO-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- LIBRERIA FONTAWESOME-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- ESTILOS PROPIOS-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">


    <!--TITULO -->
    <title>1771 Studios</title>

</head>

<body>
    <!-- HEADER -->
    <%- include('partials/header') %>
    <main>
        <section class="information-guitarra" id="guitarra">
            <h1>INFORMACIÓN </h1>
            </br>
            <div>
                <h2>¿CÓMO SON LAS CLASES?</h2>
                <p>En tus clases tendrás un encuentro personalizado con el docente a cargo con quién trabajarás técnica
                    y repertorio a tu elección. El docente diseña ejercicios específicos para que logres aprender en
                    forma dinámica, práctica y veloz. Podés optar por la modalidad online o presencial con protocolo. En
                    algunas actividades tendrás la opción de optar por la modalidad grupal, son grupos super reducidos
                    de hasta 2 o 3 alumnos por curso. Los horarios son a combinar con el docente. </p>
                </br>
                <h2>¿QÚE NIVEL O EDAD HAY QUE TENER PARA EMPEZAR?</h2>
                <p>Nuestros docentes son profesionales recibidos que se adaptaran al nivel en el que te encuentres.
                    Inicial/Intermedio /Avanzado. Desde tu primera clase notarás el avance. Respecto a tu edad… NO HAY
                    EDAD PARA LA MÚSICA.</p>
                </br>
                <h2>¿HAY CONCIERTOS EN VIVO?</h2>
                <p>La escuela te ofrecerá múltiples opciones para que te animes a mostrar lo aprendido. No es
                    obligatorio participar, pero creemos que subir al escenario es parte del aprendizaje musical, por lo
                    que dos veces por año realizamos conciertos que son temáticos para que puedas explorar cada género.
                    (jazz/soul/rock nacional/pop/tango/folclore/melódico y más)- cada alumno presenta el repertorio
                    trabajado con el acompañamiento profesional de una banda en vivo. Además realizamos talleres
                    bimetrales de género músical, y grabaciones en estudio.</p>
                </br>
                <h2>¿QUÉ DEBO HACER PARA COMENZAR?</h2>
                <p>Debes enviarnos la siguiente informació</p>
                <p>• Instrumento elegido</p>
                <p>• Modalidad (presencial u online /individual o grupal)</p>
                <p>• Disponibilidad horaria</p>
            </br>
            <h1>PRECIO $ 4500</h1>
            </div>
        </section>
        <section class="information-bajo">
            <h1>INFORMACIÓN</h1>
            </br>
            <div>
                <h2>¿CÓMO SON LAS CLASES?</h2>
                <p>En tus clases tendrás un encuentro personalizado con el docente a cargo con quién trabajarás técnica
                    y repertorio a tu elección. El docente diseña ejercicios específicos para que logres aprender en
                    forma dinámica, práctica y veloz. Podés optar por la modalidad online o presencial con protocolo. En
                    algunas actividades tendrás la opción de optar por la modalidad grupal, son grupos super reducidos
                    de hasta 2 o 3 alumnos por curso. Los horarios son a combinar con el docente. </p>
                </br>
                <h2>¿QÚE NIVEL O EDAD HAY QUE TENER PARA EMPEZAR?</h2>
                <p>Nuestros docentes son profesionales recibidos que se adaptaran al nivel en el que te encuentres.
                    Inicial/Intermedio /Avanzado. Desde tu primera clase notarás el avance. Respecto a tu edad… NO HAY
                    EDAD PARA LA MÚSICA.</p>
                </br>
                <h2>¿HAY CONCIERTOS EN VIVO?</h2>
                <p>La escuela te ofrecerá múltiples opciones para que te animes a mostrar lo aprendido. No es
                    obligatorio participar, pero creemos que subir al escenario es parte del aprendizaje musical, por lo
                    que dos veces por año realizamos conciertos que son temáticos para que puedas explorar cada género.
                    (jazz/soul/rock nacional/pop/tango/folclore/melódico y más)- cada alumno presenta el repertorio
                    trabajado con el acompañamiento profesional de una banda en vivo. Además realizamos talleres
                    bimetrales de género músical, y grabaciones en estudio.</p>
                </br>
                <h2>¿QUÉ DEBO HACER PARA COMENZAR?</h2>
                <p>Debes enviarnos la siguiente informació</p>
                <p>• Instrumento elegido</p>
                <p>• Modalidad (presencial u online /individual o grupal)</p>
                <p>• Disponibilidad horaria</p>
            </div>
        </section>
        <section class="information-canto">
            <h1>INFORMACIÓN</h1>
            </br>
            <div>
                <h2>¿CÓMO SON LAS CLASES?</h2>
                <p>En tus clases tendrás un encuentro personalizado con el docente a cargo con quién trabajarás técnica
                    y repertorio a tu elección. El docente diseña ejercicios específicos para que logres aprender en
                    forma dinámica, práctica y veloz. Podés optar por la modalidad online o presencial con protocolo. En
                    algunas actividades tendrás la opción de optar por la modalidad grupal, son grupos super reducidos
                    de hasta 2 o 3 alumnos por curso. Los horarios son a combinar con el docente. </p>
                </br>
                <h2>¿QÚE TÉCNICAS TRABAJAN?</h2>
                </br>
                <p>• TÉCNICA VOCAL INTEGRAL: RESPIRACIÓN -IMPOSTACIÓN- AFINACIÓN </p>
                <p>• REPERTORIO A ELECCIÓN CON ACOMPAÑAMIENTO DE PIANO Y PISTAS.</p>
                <p>• SPEECH LEVEL SINGING</p>
                <p>• MIX VOICE</p>
                <p>• MÉTODO FUNCIONAL DE LA VOZ</p>
                <p>• INTRODUCCIÓN AL CANTO CONSCIENTE.</p>
                <p>• MÉTODO RABINE.</p>
                <p>• USO DE MICRÓFONO EN TODAS LAS CLASES.</p>
                <p>• ASESORAMIENTO FONOAUDIOLÓGICO.</p>
                <p>• CLASES DE INTERPRETACIÓN COMPLEMENTARIAS.</p>
            </div>
        </section>
        <section class="information_bateria">
            <h1>INFORMACIÓN</h1>
            </br>
            <div>
                <h2>¿CÓMO SON LAS CLASES?</h2>
                <p>En tus clases tendrás un encuentro personalizado con el docente a cargo con quién trabajarás técnica
                    y repertorio a tu elección. El docente diseña ejercicios específicos para que logres aprender en
                    forma dinámica, práctica y veloz. Podés optar por la modalidad online o presencial con protocolo. En
                    algunas actividades tendrás la opción de optar por la modalidad grupal, son grupos super reducidos
                    de hasta 2 o 3 alumnos por curso. Los horarios son a combinar con el docente. </p>
                </br>
                <h2>¿QÚE NIVEL O EDAD HAY QUE TENER PARA EMPEZAR?</h2>
                <p>Nuestros docentes son profesionales recibidos que se adaptaran al nivel en el que te encuentres.
                    Inicial/Intermedio /Avanzado. Desde tu primera clase notarás el avance. Respecto a tu edad… NO HAY
                    EDAD PARA LA MÚSICA.</p>
                </br>
                <h2>¿HAY CONCIERTOS EN VIVO?</h2>
                <p>La escuela te ofrecerá múltiples opciones para que te animes a mostrar lo aprendido. No es
                    obligatorio participar, pero creemos que subir al escenario es parte del aprendizaje musical, por lo
                    que dos veces por año realizamos conciertos que son temáticos para que puedas explorar cada género.
                    (jazz/soul/rock nacional/pop/tango/folclore/melódico y más)- cada alumno presenta el repertorio
                    trabajado con el acompañamiento profesional de una banda en vivo. Además realizamos talleres
                    bimetrales de género músical, y grabaciones en estudio.</p>
                </br>
                <h2>¿QUÉ DEBO HACER PARA COMENZAR?</h2>
                <p>Debes enviarnos la siguiente informació</p>
                <p>• Instrumento elegido</p>
                <p>• Modalidad (presencial u online /individual o grupal)</p>
                <p>• Disponibilidad horaria</p>
            </div>
        </section>
        
    </main>
        <!-- FOOTER -->
        <%- include('partials/footer') %>
</body>

</html>