<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TIPOGRAFIA ROBOTO-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- LIBRERIA FONTAWESOME-->
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- ESTILOS PROPIOS-->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">


    <!--TITULO -->
    <title>1771 Studios</title>

</head>

<body>
    <header>
        <div class="top-header">
            <div class="img-container">
                <img src="images/logo1771.png" alt="logo1771">
            </div>
            <ul class="enlaces">
                <li><a href="/register">Registrarme</a></li>
                <li><a href="#mapa">¿Cómo llegar?</a></li>
                <li><a href="/productCart">Reservar clase</a></li>
                <li><a href="/productCart">Reservar ensayo</a></li>
                <li><a href="/productDetail">Paga tu reserva</a></li>
            </ul>
            <div class="burger-container">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="form-container">
            <p class="date-box-msg">Reserva tu día</p>
            <form action="/productCart" method="POST"></form>
            <div class="form-date">
            <input type="date" name="fecha" value="0000-00-00" min="2020-01-01" max="2040-01-01">
            </div>
        </div>
    </main>
    <footer>

        <section class="information">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Política de datos personales</a></li>
            </ul>
        </section>
        <section class="search-button-container">
            <div class="search-container">
                <input type="text" placeholder="Ingresa tu E-mail">
                <button class="ov-btn-grow-spin" type="submit">
                    <i class="fas fa-share-square"></i> Enviar </button>
            </div>
        </section>
        <div class="redes">
            <a href="https://www.facebook.com/" target="_blank" rel="nooper noreferrer">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>

            <a href="https://www.instagram.com/" target="_blank" rel="nooper noreferrer">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>

            <a href="https://twitter.com/" target="_blank" rel="nooper noreferrer">
                <ion-icon name="logo-twitter"></ion-icon>
            </a>
        </div>

    </footer>
</body>

</html>