<footer>
    <div class="container">
    <section class="information">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Política de datos personales</a></li>
        </ul>
    </section>
    
    <section class="search-button-container">
        <p>recibe nuestro boletín</p>
        <div class="search-container">
            <input type="text" placeholder="Ingresa tu E-mail">
            <button class="ov-btn-grow-spin" type="submit">
                <i class="fas fa-share-square"></i> Enviar </button>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/" target="_blank"
            rel="nooper noreferrer">
            <ion-icon name="logo-facebook"></ion-icon>
            </a>
            
            <a href="https://www.instagram.com/" target="_blank"
            rel="nooper noreferrer">
            <ion-icon name="logo-instagram"></ion-icon>
            </a>
    
            <a href="https://twitter.com/" target="_blank"
            rel="nooper noreferrer">
            <ion-icon name="logo-twitter"></ion-icon>
            </a>
        </div>
    </section>
   
</div>
</footer>