<header>
    <div class="top-header">
        <a href="/">
            <img src="/images/logo1771.png" alt="logo1771">
        </a>
        <ul class="enlaces">
            <li><a href="/users/register">Registrarme</a></li>
            <li><a href="#mapa">¿Cómo llegar?</a></li>
            <li><a href="/cursos">Reservar clase</a></li>
            <li><a href="/salas">Reservar ensayo</a></li>
            <li><a href="/productCart">Paga tu reserva</a></li>
        </ul>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</header>