<header>
    <div class="top-header">
        <a href="/">
            <img src="/images/logo1771.png" alt="logo1771">
        </a>
        <ul class="enlaces">
            <%if(locals.isLogged){%>
                <li class="">
                    <a href="/users/perfil" id="dropUser" role="button" class="nav-link dropdown-toggle">
                        <img src="/img/users/<%=userLogged.imageUser%>" alt="user_image" width="40" class="user-image"><%=userLogged.nombre%>
                    </a>
                </li>
                <div class="cerrar-sesion">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <a href="/users/logout">Cerrar sesion</a>
                </div>
            <%}else{%>
                <div class="iniciar-sesion">
                    <a href="/users/login">Iniciar sesión</a>
                </div>
                <div class="registro">
                    <a href="/users/register" >Registrate</a>
                </div>
            <%}%>
            <!-- <li><a href="../users/register">Registrarme</a></li>
            <li><a href="../users/login">Ingresa</a></li> -->
            <li><a href="/#mapa">¿Cómo llegar?</a></li>
            <li><a href="/cursos">Reservar clase</a></li>
            <li><a href="/salas">Reservar ensayo</a></li>
            <li><a href="/productCart">Paga tu reserva</a></li>
        </ul>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</header>
