<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <form action="/users/login" method="POST">
                <main>
                    <div class="login">
                        <input type="email" name="email" placeholder="Correo">
                        <input type="password" name="password" placeholder="contraseña">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                            </label>
                        </div>
                        <button class="ov-btn-grow-spin" type="submit">Ingresar
                    </div>
                </main>
            </form>

            <%- include('../partials/footer') %>

    </body>

</html>